#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}

.pokemon {
  width: 200px;
  padding: 1rem;

  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}

.bulbasaur {
  background-color: lightgreen;
}

.charmander {
  background-color: lightcoral;
}

.squirtle {
  background-color: lightblue;
}

.pikachu {
  background-color: lightgoldenrodyellow;
}
